footer
	.uk-block.uk-block-secondary.uk-block-contrast.uk-block-large.dc-hero-footer
		.uk-container.uk-container-center.uk-text-center.uk-text-center
			ul.uk-subnav.uk-subnav-line.uk-flex-center
				li
					a(href="//facebook.com/")
						i.fa.fa-facebook(aria-hidden='true')
						|		facebook
				li
					a(href="//facebook.com/")
						i.fa.fa-facebook(aria-hidden='true')
						|		facebook
				li
					a(href="//facebook.com/")
						i.fa.fa-facebook(aria-hidden='true')
						|		facebook
			.uk-panel
				h1(style="color:#ffffff;") DISCEPTIO
				p
					|	Made by
					a(href='//www.disceptio.com') DISCEPTIO
					|	with
					i.fa.fa-heart
					|	&nbsp;&nbsp; © 2017 Disceptio. All rights reserved.

#offcanvas.uk-offcanvas
	.uk-offcanvas-bar
		ul.uk-navbar-nav.uk-navbar-flip.uk-hidden-small
			li
				a(href="/")
				i.fa.fa-university(aria-hidden='true')
					|		DISCEPTIO
			li
				a(href="/projects")
					i.fa.fa-superpowers(aria-hidden='true')
					|		PROJECTS