nav.uk-navbar.dc-navbar-custom
	a.uk-navbar-brand.uk-hidden-small(href='/')
		img(src="//placehold.it/140x40")
	ul.uk-navbar-nav.uk-navbar-flip.uk-hidden-small
		li
			a(href="/")
				i.fa.fa-university(aria-hidden='true')
				|		DISCEPTIO
		li
			a(href="/projects")
				i.fa.fa-superpowers(aria-hidden='true')
				|		PROJECTS

	a.uk-navbar-toggle.uk-visible-small(href='#offcanvas', data-uk-offcanvas='')
	.uk-navbar-brand.uk-navbar-center.uk-visible-small
		img(src='//placehold.it/140x40', width='90', height='30',
		title='Disceptio', alt='Disceptio')

header