head
    title Solvers
    meta(charset = "utf-8")

    //uikit css, js
    link(rel='stylesheet', href='/public/css/uikit.min.css')
    script(src='/public/js/uikit.min.js')
    script(src="//code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")

    //font(Algreya for headings, open sans for p)
    link(href="//fonts.googleapis.com/css?family=Rajdhani:700|Open+Sans", rel="stylesheet")

    //font awesome
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')

    //Mathjax support CDN
    script(type='text/x-mathjax-config').
        MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\\(','\\)']]}
        });
    script(type='text/javascript', async='', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML')
