head
    //google tag manager
    script(src="//code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MB4NLFN');
    // End Google Tag Manager

    title Disceptio:Data solvers
    meta(charset = "utf-8")

    //meta tags
    meta(name="description", content="We build products that make people better at their most important work.")
    link(rel="canonical", href="//www.disceptio.com")

    //uikit css, js
    link(rel='stylesheet', href='/public/css/uikit.min.css')
    script(src='/public/js/uikit.min.js')

    // custom css & js
    link(rel='stylesheet', href='/public/css/style.css')
    script(src='/public/js/site.js')

    //font(Algreya for headings, open sans for p)
    link(href="//fonts.googleapis.com/css?family=Jockey+One|Roboto+Condensed|Open+Sans", rel="stylesheet")

    //font awesome
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')

    // mobile options
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // favicons
    link(rel='apple-touch-icon', sizes='180x180', href='/public/img/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/public/img/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/public/img/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/public/img/favicons/manifest.json')
    link(rel='mask-icon', href='/public/img/favicons/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='theme-color', content='#ffffff')


    //Mathjax support CDN
    script(type='text/x-mathjax-config').
        MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\\(','\\)']]}
        });
    script(type='text/javascript', async='', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML')
