extends ./layout

block content
    .uk-cover-background.uk-position-relative.dc-hero-index
        .uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
            .uk-width-medium-1-2.uk-text-center.dc-hero-caption
                h1 Solvers
                p We believe in 

    .dc-content-middle.dc-margin-top-large.uk-margin-bottom
        .uk-grid
            .uk-width-1-2.uk-container-center
                h1.uk-text-center WHAT WE DO
                p.uk-text-center We build products that make people better at their most important work — the kind of work you read about on the front page of the newspaper, not just the technology section.

    .dc-content-middle.dc-margin-top-large.uk-margin-bottom
        .uk-grid
            .uk-width-1-2.uk-container-center
                h1.uk-text-center WHO WE'RE

        .uk-grid
            .uk-width-1-4.uk-container-center
                .uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-about-solver1
            .uk-width-3-5.uk-container-center.uk-flex.uk-flex-column
                h1 Cliff
                h2 Hi there, We build products that make people better at their most important work

        .uk-grid
            .uk-width-3-5.uk-container-center.uk-flex.uk-flex-column
                h1.uk-flex.uk-flex-row-reverse Jay
                h2 Hi there, We build products that make people better at their most important work — the kind of work you read about on the front page of the newspaper, not just the technology section
            .uk-width-1-4.uk-container-center
                .uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-about-solver2