extends ./layout

block content
    .uk-cover-background.uk-position-relative.dc-hero-index
        .uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
            .uk-width-medium-1-2.uk-text-center.dc-hero-caption
                h1 Disceptio
                p We're Disceptio

    .dc-content-middle
        .uk-grid
            .uk-width-1-2.uk-container-center
                h1.uk-text-center index
        ul.uk-grid
            li.uk-width-medium-1-3
                h1.uk-text-center 
            li.uk-width-medium-1-3
                h1.uk-text-center hello
            li.uk-width-medium-1-3
                h1.uk-text-center hello world
