extends ./layout

block content
    .uk-cover-background.uk-position-relative.dc-hero-index
        .uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
            .uk-width-medium-1-2.uk-text-center
                h1 Disceptio
                p We're Disceptio




    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
    p This is Home
