extends ./layout

block content
    .uk-cover-background.uk-position-relative.dc-hero-index
        .uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
            .uk-width-medium-1-2.uk-text-center.dc-hero-caption
                h1 DISCEPTIO
                p We're Disceptio

    .dc-content-middle.dc-margin-top-large.uk-margin-bottom
        .uk-grid
            .uk-width-1-2.uk-container-center
                h1.uk-text-center SCALE, SPEED, AGILITY
                p.uk-text-center We build products that make people better at their most important work — the kind of work you read about on the front page of the newspaper, not just the technology section.


        ul.uk-grid
            li.uk-width-large-1-3.uk-margin-top.uk-margin-bottom
                h3.uk-text-center
                    |   DATA FUSION 
                    br
                    |   PLATFORMS
                p.uk-text-center Back-end infrastructure for integrating, managing, and securing data of any kind, from any source, at massive scale.

            li.uk-width-large-1-3.uk-margin-top.uk-margin-bottom
                h3.uk-text-center
                    |   DATA FUSION 
                    br
                    |   PLATFORMS
                p.uk-text-center Back-end infrastructure for integrating, managing, and securing data of any kind, from any source, at massive scale.

            li.uk-width-large-1-3.uk-margin-top.uk-margin-bottom
                h3.uk-text-center
                    |   DATA FUSION 
                    br
                    |   PLATFORMS
                p.uk-text-center Back-end infrastructure for integrating, managing, and securing data of any kind, from any source, at massive scale.
