extends ./layout

block content
    .uk-cover-background.uk-position-relative.dc-hero-index
        .uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
            .uk-width-medium-1-2.uk-text-center.dc-hero-caption
                h1 DISCEPTIO
                p Welcome to Disceptio

    .dc-content-middle.uk-margin-large-top
        .uk-grid
            .uk-width-8-10.uk-container-center.uk-margin-large
                h1.uk-text-center What is DISCEPTIO
                h3.uk-text-center We build products that make people better at their most important work — the kind of work you read about on the front page of the newspaper, not just the technology section. For ten years, we’ve built our company by being unconventional and open-minded. We’ve been willing to try things that people said would never work, and we’ve adapted when we’ve been wrong. Where we’ve succeeded, it’s because we’ve been different.


    .dc-content-middle.uk-margin-large-top
        .uk-grid
            .uk-width-8-10.uk-container-center
                h1.uk-text-center OUR PHILOSOPHY
        ul.uk-grid
            li.uk-width-large-1-3.uk-margin-top.uk-margin-large
                h2.uk-text-center
                    |   THE BEST
                    br
                    |   IDEA WINS
                h3.If you have a great idea and the will to see it through, you can effect great change. Nothing is off limits—we’re constantly looking for improvements in our products, our processes, and our people. All voices are equal here—we hire people to have an opinion and be creative. We’re intolerant of politicking, ego, and power brokers. If your idea makes the most sense, that’s what we’re doing, regardless of your role or seniority.

            li.uk-width-large-1-3.uk-margin-top.uk-margin-large
                h2.uk-text-center
                    |   NOTHING
                    br
                    |   IS PERMANENT
                h3.Sometimes opportunities are here today and gone tomorrow. Sometimes a breakthrough on an intractable problem invalidates our previous efforts. And yes, sometimes we make mistakes. Inventing the future requires detaching yourself from the past. While we ship a couple of polished product families, we’re just getting started when it comes to building the full ecosystem of technology we’ve imagined.

            li.uk-width-large-1-3.uk-margin-top.uk-margin-large
                h2.uk-text-center
                    |   KEEP FOCUSED
                    br
                    |   ON THE MISSION
                h3.Our work is incredibly complex, touching on computer science, data science, software engineering, public policy, good governance, large-scale distributed systems, user behavior, efficient use of resources... to name a few. It would be easy to get hyper-focused on some small aspect of this large universe and spend way too much time and resources on perfecting something that’s good enough already.

    .dc-content-middle.uk-margin-large-top.uk-margin-large
        .uk-grid
            .uk-width-1-2.uk-container-center
                h1.uk-text-center SOLVERS

        .uk-grid
            .uk-width-1-4.uk-container-center
                .uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-about-solver1
            .uk-width-3-5.uk-container-center.uk-flex.uk-flex-column
                h1 Cliff
                h2 We seek out hard problems at places that matter. We solve them by shipping products that work, today. They have to, because the stakes are real. People rely on our products to do their most important work, which means they rely on us to build things the right way.

        .uk-grid
            .uk-width-3-5.uk-container-center.uk-flex.uk-flex-column
                h1.uk-flex.uk-flex-row-reverse Jay
                h2 We also believe that privacy and civil liberties-protective technical capabilities must be combined with a rigorous set of policies to maximize their effectiveness. Audit logs are only effective when they are reviewed and access controls only protect information when they are used to limit data availability to those with particular needs and authorities. 
            .uk-width-1-4.uk-container-center
                .uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-about-solver2