doctype html

html
	include ./partials/head

	body
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MB4NLFN', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		.uk-container.uk-container-center.site-wrapper
			include ./partials/header

			section#content
				block content

			include ./partials/footer
