/*
 * global font options
 */

body {
	background: #edf0f2;
	font-family: "Roboto Condensed", "Open Sans", Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Jockey One", "Open Sans", Helvetica Neue, sans-serif;
}

p {
    font-family: "Open Sans", Helvetica Neue, sans-serif;
}

p.dc-index-louder {
    font-size: 1.17em;
    line-height: 165%;
    text-align: left;
}

.site-wrapper {
	position: relative;
	background-size: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 0;
	background: #fff;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}


/*
 * navbar options
 */

.dc-navbar-custom {
	position: fixed;
	top: 0;
	max-width: 1440px;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: transparent;
	color: #fff;
	z-index: 9999;
}

.dc-navbar-custom > li > a:hover {
	heigth: 70px;
	line-height: 70px;
}

.dc-navbar-custom > ul > li > a {
	color: #fff;
	height: 70px;
	line-height: 70px;
}

.dc-navbar-fixed {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	background-color: #fff;
	line-height: 70px;
}

.dc-navbar-fixed > ul > li > a {
	color: #333;
	line-height: 70px;
}


/*
 * hero options
 */

.dc-hero-index {
	position: relative;
	width: 100%;
	height: 75vh;
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url('/public/img/index.jpg');
	background-position: 100%, 50%;
	background-size: cover!important;
	background-repeat: no-repeat;
}

.dc-hero-index-solver1 {
	height: 30vh;
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('//placehold.it/1920x1080');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-index-solver2 {
	height: 30vh;
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('//placehold.it/1920x1080');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-footer {
	height: 30vh;
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('/public/img/footer.jpg');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-projects {
	background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/public/img/projects.jpg');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-list-2017election {
	height: 35vh;
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url('/public/img/2017election/election-hero.jpg');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-2017election {
	height: 50vh;
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url('/public/img/2017election/election-hero.jpg');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-list-project2 {
	height: 35vh;
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/public/img/project2.jpg');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-project2 {
	height: 50vh;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/public/img/project2.jpg');
	background-position: 100%, 50%;
	background-size: cover;
}

.dc-hero-caption > h1 {
	font-size: 5rem;
	color: #ffffff;
	line-height: 1;
}

.dc-hero-caption > p {
	font-size: 1.5rem;
	color: #aaaaaa;
}


/*
 * section options
 */

.dc-content-middle {
	padding-left: 30px;
	padding-right: 30px;
}


/*
 * margin options
 */

 .dc-margin-top-large {
 	margin-top: 40px;
 }

 .dc-margin-bottom-large {
 	margin-bottom: 40px;
 }

/*
 * timeline
 */

.section-header, .steps-name {
  color: #3498DB;
  font-weight: 400;
  font-size: 1.4em;
}

.steps-header {
  margin-bottom: 20px;
  text-align: center;
  color: inherit;
}

.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-timeline {
    border-left: 2px solid #3498DB;
    margin-left: 25px;
  }
}
@media screen and (min-width: 500px) {
  .steps-timeline {
    border-top: 2px solid #3498DB;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 12.75%;
    margin-right: 12.75%;
  }
}
.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}

.steps-one,
.steps-two,
.steps-three,
.steps-four {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four {
    margin-left: -25px;
  }
}
@media screen and (min-width: 500px) {
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four {
    float: left;
    width: 25%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 500px) {
  .steps-one,
  .steps-two,
  .steps-three {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 500px) {
  .steps-one {
    margin-left: -12.75%;
    margin-right: 12.75%;
  }
}

@media screen and (max-width: 500px) {
  .steps-four {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 500px) {
  .steps-four {
    margin-left: 12.75%;
    margin-right: -12.75%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  .steps-img {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}

@media screen and (min-width: 500px) {
  .steps-name {
    text-align: center;
  }
}

.steps-description {
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .steps-description {
    text-align: center;
  }
}

/*
 * progress bar
 */

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 70px;

  /* Dimensions */
  width: 100%;
  max-width: 1440px;
  height: .25em;


  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-dc-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: red;
}

.flat::-moz-dc-progress-bar {
  background-color: red;
}

.dc-progress-noshow {
	visibility: hidden; !important
}

.dc-progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 70px;
  left: 0;
  height: .25em;
  display: block;
}

.dc-progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}

/*
 *  Disceptio logo change
 */

.dc-logo-light > path {
  fill: #ffffff;
}

/*
 *  Round image shape(circular)
 */

img.dc-round-pic {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}
