extends ../layout

block content
	.uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-projects
		.uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
			.uk-width-medium-1-2.uk-text-center.dc-hero-caption
				h1 Projects



	.uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-list-project1
		a(href='/projects/sample1')
			.uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
				.uk-width-medium-1-2.dc-hero-caption
					h1 Sample #1
					p This is Sample #1

	.uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-list-project2
		a(href='/projects/sample2')
			.uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
				.uk-width-medium-1-2.dc-hero-caption
					h1 Sample #2
					p This is Sample #2