extends ../layout

block content
    .uk-cover-background.uk-position-relative.dc-hero-index.dc-hero-sample1
        .uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle
            .uk-width-medium-1-2.uk-text-center.dc-hero-caption
                h1 Sample #2
                p project detail of sample #2

    .dc-content-middle.uk-margin-top.uk-margin-bottom
        .uk-grid
            .uk-width-large-8-10.uk-container-center
                h1 Intro
                p this is intro of project #2
        .uk-grid
            .uk-width-large-8-10.uk-container-center
                h1 Process
                p this is process of project #2
